.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto 0 auto;
    border: 1px solid grey;
    padding: 2rem;
    border-radius: 10px;
    height:400px ;
}
.heading{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.uploadButton {
    margin-top: 20px;
    padding: 10px 20px;
        background-color: var(--pryColor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: #27ae60;
}

.progressBar {
    margin-top: 20px;
    /* width: 100%; */
}
.skipButton{
    margin-top: 20px;
        padding: 10px 20px;
        background-color: var(--pryColor);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}
.skipButton:hover {
    background-color: #27ae60;
}