
.container {
    margin: 50px auto 0;
    width: 700px;
}

.u-float-right {
    float: right;
}

.u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.subtle {
    color: #888;
    font-size: 1rem;
}

.card-media {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    height:160px;
    margin-bottom: 25px;
    transition: all 300ms ease-out;
    width: 100%;
}

.card-media:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
}

.card-media-object-container {
    background: none;
    float: left;
    height: 100%;
    width: 35%;
    position: relative;
}

.card-media-object {
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.card-media-object:after {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-out;
    z-index: 10;
}


.card-media-object-tag {
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 7px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-media-body {
    background-color: #fff;
    float: left;
    height: 100%;
    padding: 12px 15px;
    position: relative;
    width: 65%;
}

.card-media-body-top {
    display: block;
}

.card-media-body-top-icons {
    margin-top: -2px;
    opacity: 0;
    transition: all 300ms ease-out;
    transform: translateY(-5px);
}

.card-media:hover .card-media-body-top-icons {
    opacity: 1;
    transform: translateY(0);
}

.card-media-body-top-icons>svg {
    cursor: pointer;
    margin-left: 10px;
    transition: all 300ms ease-out;
}

.card-media-body-top-icons>svg:hover {
    fill: #444;
}

.card-media-body-heading {
    display: block;
    margin-top: 10px;
    font-size: 2rem;
    text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
            max-width: 100%;
}

.card-media-body-supporting-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    transition: all 300ms ease-out;
    width: 100%;
}
.card-media-body-supporting-bottom-icons{
display: flex;
justify-content: space-between;
color: var(--pryColor);
  font-size: 1.3rem;
 padding: 10px 0;
}
.icon-with-count {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.icon-with-count .count {
    margin-left: 5px;
}

.card-media-body-supporting-bottom-text {
    display: inline-block;
    font-size: 1rem;
}
