
.event-container {
    display: flex;
    flex-wrap: wrap;
}

.event-card {
    width: 450px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.event-card-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.event-card-details {
    padding: 20px;
}

.event-card-date {
    font-size: 14px;
    color: #777;
}

.event-card-title {
    font-size: 18px;
    margin-top: 10px;
}

.event-card-location {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
}

.event-card-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icon-with-count {
    display: flex;
    align-items: center;
    color: #777;
}

.icon-with-count svg {
    margin-right: 5px;
}

.count {
    font-size: 14px;
}