/* Hero.module.css */
.heroSection {
    background: linear-gradient(to right, #000000ba, rgba(0, 0, 0, 0.756)), url('https://images.pexels.com/photos/3471029/pexels-photo-3471029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: var(--textColor2);
    text-shadow: 1px -1px 5px rgba(0, 0, 0, 0.761);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.ctaButton {
    padding: 10px 50px;
    font-size: 1em;
    background-color: #38C585;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: #27ae60;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .heroContent {
        padding: 0 1rem;
    }

    h1 {
        font-size: 2em;
        text-align: center;
    }

    p {
        font-size: 1em;
        text-align: center;
    }

    .ctaButton {
        padding: 10px 30px;
        font-size: 0.9em;
    }
}