.container {
    background-color: var(--bgColor
    );
    color: var(--textColor);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
/* width: 100%; */

}

.left {
    width: 40%;
padding-right: 40px;
}
img{
    width: 400px;

}
.joinBtn {
    padding: 10px 50px;
    font-size: 1em;
    background-color:var(--pryColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.joinBtn:hover {
    background-color: #27ae60;
}