
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 0.5rem;
    font-size: 1rem;
}

.mobileMenuIcon {
    display: none;
   
}

.navbarLinks {
    display: flex;
    align-items: center;
    /* width: 400px;
    justify-content: space-between; */
}
.adminMessage{
    font-size: 1.5rem;
    padding-right: 400px;
}
.nav-title {
    padding: 0;
    margin-right: auto;
    position: relative;
    width: 200px;

}

.logoImg{
width: 150px;
    height: auto;
}
.adminLogo {
    position: absolute;
    left: 6%;
}
.leftAlign{
    justify-content: right;
}
.navbarLink {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    color: #333;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.authLinks{
    display: flex;
}
.navbarLink:hover {
    color: #017e03;
}

.signin {
    width: 100%;
    /* padding: 10px; */
    border-radius: 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #38C585;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    text-align: center;
}

.signup {
    width: 200px;
        font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border: 0px;
    outline: 0px;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbarLinks {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        z-index: 1000;

    }

    .navbarLink {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .mobileMenuIcon {
        padding-top: 10px;
        display: block;
        color:#38C585 ;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .showMenu {
        display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    }
                  .adminMessage {
                      padding-right: 0;
                  }
}
