
.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.leftSidebar {
    flex-basis: 25%;
    position: sticky;
    top: 15%;
    align-self: flex-start;
    margin-right: 1rem;
}

.rightSidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* background: #fff; */
    padding: 20px 0 20px 0;
    border-radius: 4px;
    color: #626262;
}

.mainContent {
    flex-basis: 47%;
margin-top: 2rem;
}

.impLinks a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}


.impLinks a svg {
    fill: #2ecc71;
    width: 25px;
        margin-right: 15px;
  
}

.impLinks {
    border-bottom: 1px solid #ccc;
}

.shortcutLinks a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.shortcutLinks a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.sidebarTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-left: 0.5rem;
}

.rightSidebar h4 {
    font-weight: 600;
    font-size: 16px;
    /* margin-bottom: 18px */
}

.sidebarTitle a {
    text-decoration: none;
    color: #2ecc71;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}


.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.onlineList {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.onlineList .online img {
    width: 45px;
    border-radius: 50%;
}

.onlineList .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.onlineList .online::after {
    top: unset;
    bottom: 5px;
}

.loadMoreBtn {
    padding: 10px 50px;
    font-size: 1em;
    background-color: #38C585;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loadMoreBtn:hover {
    background-color: #27ae60;
}
/* ///......media query....../// */


@media(min-width: 280px) and (max-width: 868px) {


    .left-sidebar,
    .right-sidebar {
        display: none;
    }

    .search-box {
        width: 250px;
    }

    .mainContent {
        flex-basis: 100%;
    }

}

@media(min-width: 869px) and (max-width: 1200px) {

    .left-sidebar,
    .right-sidebar {
        margin: 0 1rem;
        font-size: 0.7srem;
    }
}